.hover:hover {
    background: #ffc107 !important;
}

.mousePointer {
    cursor: pointer;
}

.data:hover {
    background: gray !important;
    color: white;
}

.data {
    align-items: stretch;
}

.c1 {
    background: #343a40;
}

.dato {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.nav {
    padding-top: initial !important;
    padding-bottom: initial !important;
}

img {
    max-height: 353.890625px !important;
}

div.scrollmenu {
    overflow: auto;
    white-space: nowrap;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: #777;
}